[submodule "external/tinygrad"]
	path = external/tinygrad
	url = https://github.com/tinygrad/tinygrad
[submodule "external/tinygrad-notes"]
	path = external/tinygrad-notes
	url = https://github.com/mesozoic-egg/tinygrad-notes
